.main-teacher {
    .title {
        font: normal bold 25px/31px 'UTM BryantLG';
color: $text_card_color;
    }

    .name {
        font: normal bold 18px/22px 'UTM BryantLG';
color: $text_card_color;
    }
    .name-intro {
        font: normal 14px/17px 'UTM BryantLG';
color: #BDB9B9;

    }
}

.main-teacher {
    .soical
    img {
        border: 0.5px solid #F44336;
        border-radius: 20px;
    }
}

.teacher-intro {
 font: normal 18px/26px 'UTM BryantLG';
color: #949292;

}